Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

.lintstagedrc:

{
  "app/**/*.{js,jsx}": ["prettier-eslint --write ", "eslint"],
  "app/**/*.{ts,tsx}": [
    "prettier-eslint --write ",
    "eslint",
    "bash -c tsc --noEmit"
  ],
  "*.{json,md,mdx,yml}": ["prettier --write"]
}

style: changed color coding to black
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Style/add review page (#15)
  app/components/ui/card.tsx
  app/dashboard/add/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

fix: changes styling in buttons and added function to prettify numbers
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: fix eslint config to correct format on save behaviour in vscode
  .eslintrc.cjs
Due: none

feat: basic map layout and pointers
  .env.local.template
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: refactor code and mock data file added
  .env.local.template
  app/dashboard/(map)/page.tsx
  app/dashboard/layout.tsx
  app/lib/data.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: requested changes made
  app/components/ratingStars.tsx
  app/components/starNumberCard.tsx
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: changed percentages and wrapped with new div
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

[CodeFactor] Apply fixes
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: mockdata for restaurant
  app/lib/data.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: changed export
  app/dashboard/(map)/page.tsx
  app/lib/data.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Style/add review page (#16)
  app/components/ratingStars.tsx
  app/components/starNumberCard.tsx
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
  package-lock.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Feat/mock data (#19)
  app/dashboard/(map)/page.tsx
  app/lib/data.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: fixed issues with fixed height and lengths
  app/components/nav-bar.tsx
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Style/add review page (#21)
  app/components/nav-bar.tsx
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
  package-lock.json
  package.json
  tailwind.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

build: update package-lock.json
  package-lock.json
Due: prettier --write

build: update package-lock.json (#22)
  package-lock.json
Due: prettier --write

feat: added basic functionality to submit button/ type could be placed in own file
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: update env template
  .env.local.template
Due: none

ci: add dotenv vault for safe cloud hosting of env variables
  .env.vault
  .gitignore
Due: none

feat: new components for nav-bar to make it cleaner
  app/components/nav-bar.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: update .env.template
  .env.local.template
  .env.vault
Due: none

chore: update package.json
  package-lock.json
  package.json
Due: prettier --write

feat: got basic outline of search result cards
  app/components/addNewReviewButton.tsx
  app/components/navbarButtons.tsx
  app/components/searchResultCard.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: search result cards design done
  app/components/addNewReviewButton.tsx
  app/components/searchResultCard.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

build: initial prisma config
  .env.local.template
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prettier --write

Refactor/nav bar (#24)
  app/components/addNewReviewButton.tsx
  app/components/nav-bar.tsx
  app/components/navbarButtons.tsx
  app/components/searchResultCard.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit
