Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: styling changes and api request change
  app/components/addNewReviewButton.tsx
  app/components/searchResultCard.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/api rendering (#30)
  app/api/googleapi/route.ts
  app/components/addNewReviewButton.tsx
  app/components/nav-bar.tsx
  app/components/searchResultCard.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

refactor: prisma seed - refactor for eslint
  prisma/seed/seed.ts
Due: none

feat: refactor prisma seed - remove dead code
  prisma/seed/seed.ts
Due: none

fix: mapping on add new review page
  app/components/addNewReviewButton.tsx
  package-lock.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: home - add parralex scroll component
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/page.tsx
  next.config.mjs
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat(auth): redirect logged in users
  app/(loginRoutes)/layout.tsx
  package-lock.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat(auth): redirect logged in users (#31)
  app/(loginRoutes)/layout.tsx
  package-lock.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: home - add heading
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add-review page functional
  app/api/googleapi/route.ts
  app/components/addNewReviewButton.tsx
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add-review page functional (#32)
  app/api/googleapi/route.ts
  app/components/addNewReviewButton.tsx
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: home - add alt for profile images
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/page.tsx
  public/gerry.png
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add user page styling
  app/components/profileHeader.tsx
  app/components/ui/avatar.tsx
  app/dashboard/user/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

fix: correct paths
  tsconfig.json
  vitest.config.ts
Due: prettier --write

feat: add user page styling
  app/types/user.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

build: add path aliases
  tsconfig.json
  vitest.config.ts
Due: prettier --write

[CodeFactor] Apply fixes
  next.config.mjs
Due: none

Feat/profile (#33)
  app/components/profileHeader.tsx
  app/components/ui/avatar.tsx
  app/dashboard/user/page.tsx
  app/types/user.d.ts
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

refactor: updated event data type
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/page.tsx
  next.config.mjs
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: created body to send to backend
  app/components/addNewReviewButton.tsx
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add mock data functionality
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/mockData.ts
  app/dashboard/home/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: new component for marker popup icons
  app/components/markerPopup.tsx
  app/components/markerPopupRatingIcons.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(login)!: Add form validation
  app/(loginRoutes)/login/page.tsx
  app/components/loginForm.tsx
  app/components/ui/form.tsx
  app/lib/action.ts
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: scroll to details with buttons on marker popup
  app/components/markerPopup.tsx
  app/components/restaurantDrawerButtons.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

style: add sapori pic
  app/dashboard/home/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/tying frontend to backend (#35)
  app/components/addNewReviewButton.tsx
  app/components/markerPopup.tsx
  app/components/markerPopupRatingIcons.tsx
  app/components/restaurantDrawerButtons.tsx
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: home - added data fetch structure WIP
  app/dashboard/home/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: style login page
  app/(loginRoutes)/login/page.tsx
  app/components/loginForm.tsx
  app/components/ui/separatorText.tsx
  app/layout.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/home (#36)
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/mockData.ts
  app/dashboard/home/page.tsx
  next.config.mjs
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

refactor: home - temp comment out db related code
  app/dashboard/home/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(login): improve authButtons
  app/components/ui/authButton.tsx
  public/apple.svg
  public/facebook.svg
  public/google.svg
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(login): move LoginSchema
  app/components/loginForm.tsx
  app/lib/action.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: markers functional and ready to tie to backend
  app/components/markerMap.tsx
  app/components/markerPopup.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/home/page.tsx
  app/lib/data.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: added key prop to marker
  app/components/markerMap.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Path conditions:
  prettier-eslint --write: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  eslint: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  bash -c tsc --noEmit: any of: app/**/*.{ts,tsx}
  prettier --write: any of: *.{json,md,mdx,yml}
