Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

fix: parallax scroll contained correctly
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/page.tsx
  app/dashboard/layout.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix(profile): add ability to hide search bar for map
  app/components/markerMap.tsx
  app/dashboard/user/[id]/page.tsx
  app/dashboard/user/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Corrected api endpoints, data fetching, bugfixes (#63)
  app/api/db/follows/route.ts
  app/api/db/images/route.ts
  app/api/db/restaurant/[id]/route.ts
  app/api/db/restaurants/route.ts
  app/api/db/reviews/route.ts
  app/api/db/temp/route.ts
  app/api/db/user/[id]/follows/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/route.ts
  app/api/restaurant/[id]/reviews/review/route.ts
  app/api/restaurant/[id]/reviews/route.ts
  app/components/UserSearch.tsx
  app/components/markerMap.tsx
  app/components/markerPopup.tsx
  app/components/profileActionButton.tsx
  app/components/reviewForm.tsx
  app/components/reviewsCard.tsx
  app/components/singleReviewCard.tsx
  app/components/ui/parallax-scroll.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/db/page.tsx
  app/dashboard/home/mockData.ts
  app/dashboard/home/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/search/page.tsx
  app/dashboard/user/[id]/page.tsx
  app/lib/restaurantService.ts
  app/lib/reviewService.ts
  app/lib/userService.ts
  app/types/ReviewWithUser.d.ts
  prisma/migrations/20240514212852_/migration.sql
  prisma/schema.prisma
  prisma/seed/seed.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: restaurant review post route
  app/api/restaurant/[id]/review/route.ts
  app/components/reviewForm.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: correct default props error
  .eslintrc.cjs
  app/api/restaurant/[id]/review/route.ts
  app/components/markerMap.tsx
  app/components/reviewForm.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: redirect to user page after adding review
  app/components/reviewForm.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): add fallback for profile images
  app/components/profileHeader.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): header styling
  app/components/profileHeader.tsx
  app/components/settings.tsx
  app/dashboard/user/[id]/page.tsx
  app/dashboard/user/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): improve follow button text
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: remove console logs
  app/api/restaurant/[id]/review/route.ts
  app/components/UserSearch.tsx
  app/components/loginForm.tsx
  app/components/markerPopup.tsx
  app/components/profileActionButton.tsx
  app/components/ui/parallax-scroll.tsx
  app/dashboard/add/page.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: restaurant review post route (#64)
  .eslintrc.cjs
  app/api/restaurant/[id]/review/route.ts
  app/components/UserSearch.tsx
  app/components/loginForm.tsx
  app/components/markerMap.tsx
  app/components/markerPopup.tsx
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/components/reviewForm.tsx
  app/components/settings.tsx
  app/components/ui/parallax-scroll.tsx
  app/dashboard/add/page.tsx
  app/dashboard/user/[id]/page.tsx
  app/dashboard/user/page.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore(map): change centering point for better visuals
  app/components/markerMap.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add button varients
  app/components/profileActionButton.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): add server action on button click
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): add follow and unfollow logic
  app/components/profileActionButton.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): implement follow and unfollow
  app/components/profileActionButton.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): follow button as client component
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): action button works
  app/api/getActionButton/route.ts
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Fix/post route (#65)
  app/api/getActionButton/route.ts
  app/components/markerMap.tsx
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): fix header values
  app/api/stats/user/[id]/route.ts
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/lib/actionService.ts
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

style: small change
  app/(loginRoutes)/(landingPage)/page.tsx
  app/components/customSkeletonComponent.tsx
  app/dashboard/home/loading.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

style: small change (#67)
  app/(loginRoutes)/(landingPage)/page.tsx
  app/components/customSkeletonComponent.tsx
  app/dashboard/home/loading.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Fix/post route (#66)
  app/api/stats/user/[id]/route.ts
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/lib/actionService.ts
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: async function error
  app/components/profileHeader.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: update seed for video WIP 1
  prisma/seed/seed.ts
Due: none

feat: home page popups done reviewcards take you to users page
  app/components/markerPopup.tsx
  app/components/markerPopupContents.tsx
  app/components/profileActionButton.tsx
  app/components/singleReviewCard.tsx
  app/components/ui/parallax-scroll.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: seed db for video 2
  prisma/seed/restaurant.ts
  prisma/seed/seed.ts
Due: none

Feat/popup (#68)
  app/components/markerPopup.tsx
  app/components/markerPopupContents.tsx
  app/components/profileActionButton.tsx
  app/components/profileHeader.tsx
  app/components/singleReviewCard.tsx
  app/components/ui/parallax-scroll.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

test: add initial tests
  app/__tests__/components/ui/authButton.test.tsx
  app/__tests__/hooks/getSession.test.ts
  app/__tests__/index.test.tsx
  app/__tests__/loginRoutes/landingPage.test.tsx
  app/__tests__/setup.ts
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: update authButton to pass test
  app/components/ui/authButton.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: update package-lock.json
  package-lock.json
Due: prettier --write

fix: update circleci
  .circleci/config.yml
  package-lock.json
  process.yml
Due: prettier --write

Update issue templates (#70)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

chore: update eslint.cjs
  .eslintrc.cjs
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier-eslint --write: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  eslint: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  bash -c tsc --noEmit: any of: app/**/*.{ts,tsx}
  prettier --write: any of: *.{json,md,mdx,yml}
