Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

.lintstagedrc:

{
  "app/**/*.{js,jsx}": ["prettier-eslint --write ", "eslint"],
  "app/**/*.{ts,tsx}": [
    "prettier-eslint --write ",
    "eslint",
    "bash -c tsc --noEmit"
  ],
  "*.{json,md,mdx,yml}": ["prettier --write"]
}

Refactor/nav bar (#24)
  app/components/addNewReviewButton.tsx
  app/components/nav-bar.tsx
  app/components/navbarButtons.tsx
  app/components/searchResultCard.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: create db route and db component (temp)
  app/api/db/route.ts
  app/api/route.ts
  app/dashboard/db/page.tsx
  app/lib/prisma.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma schema - restaurant model
  app/api/db/route.ts
  prisma/schema.prisma
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: db post request - add restaurant to DB WIP
  app/api/db/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: text search api request
  app/api/googleapi/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma schema - add user, review and follow models
  app/api/db/route.ts
  app/dashboard/db/page.tsx
  app/lib/prisma.ts
  prisma/schema.prisma
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: added drawer to markers and added component for contact interaction
  .eslintignore
  app/components/markerPopup.tsx
  app/components/restaurantDrawerButtons.tsx
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: added to template
  .env.local.template
  package-lock.json
  package.json
Due: prettier --write

feat:
  app/api/db/follow/route.ts
  app/api/db/restaurant/route.ts
  app/api/db/review/route.ts
  app/api/db/user/route.ts
  prisma/migrations/20240509083614_/migration.sql
  prisma/migrations/migration_lock.toml
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: text search api request (#25)
  .env.local.template
  app/api/googleapi/route.ts
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: basic styling for the restaurant pin
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: add mjs files to tsconfig
  tsconfig.json
Due: prettier --write

Feat/marker dialogue page (#27)
  .eslintignore
  app/components/markerPopup.tsx
  app/components/restaurantDrawerButtons.tsx
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - seed db for user/restaurant/review
  app/api/db/follow/route.ts
  package-lock.json
  package.json
  prisma/seed/restaurants.ts
  prisma/seed/seed.ts
  prisma/seed/users.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat(auth): add initial auth config
  .env.local.template
  .env.vault
  app/api/auth/[...nextauth]/route.ts
  app/lib/auth.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma seed - follows
  prisma/seed/seed.ts
Due: none

feat: prisma - minor code clean up
  .env.local.template
  app/api/db/follow/route.ts
  app/api/db/restaurant/route.ts
  app/api/db/review/route.ts
  app/api/db/user/route.ts
  app/lib/prisma.ts
  prisma/schema.prisma
  prisma/seed/seed.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add db component to test fetches
  app/dashboard/db/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - get restaurants reviewed by followed users
  app/api/db/review/route.ts
  app/api/db/temp/route.ts
  app/dashboard/db/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - get reviews for specific restaurant
  app/api/db/temp/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - get average rating for specific restaurant
  app/api/db/temp/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - create new review
  app/api/db/review/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - get all users excl. current user
  app/api/db/review/[id]/route.ts
  app/api/db/user/route.ts
  app/api/db/users/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - get user info for profile page
  app/api/db/review/[id]/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit
