Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

.lintstagedrc:

{
  "app/**/*.{js,jsx}": ["prettier-eslint --write ", "eslint"],
  "app/**/*.{ts,tsx}": [
    "prettier-eslint --write ",
    "eslint",
    "bash -c tsc --noEmit"
  ],
  "*.{json,md,mdx,yml}": ["prettier --write"]
}

fix: fixed marker pin issue
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add search page
  app/api/db/users/route.ts
  app/dashboard/search/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Fix/merge break (#48)
  app/api/db/users/route.ts
  app/dashboard/(map)/page.tsx
  app/dashboard/search/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix(landingpage): fix svg warnings (#46)
  .eslintrc.cjs
  app/(loginRoutes)/(landingPage)/page.tsx
  app/components/loginForm.tsx
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: home - images linked to DB
  app/api/db/images/route.ts
  app/dashboard/home/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): improve google profile image quality
  app/lib/auth.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/home (#49)
  app/api/db/images/route.ts
  app/api/db/reviews/route.ts
  app/dashboard/home/page.tsx
  prisma/seed/restaurants.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: updated restaurant seed
  prisma/seed/restaurant.ts
  prisma/seed/seed.ts
  prisma/seed/users.ts
Due: none

chore: updated follows for TDS
  prisma/seed/seed.ts
Due: none

chore: remove old resto seed
  prisma/seed/restaurants.ts
Due: none

chore: update eslintrc
  .eslintrc.cjs
  app/lib/auth.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: fix missing avatar
  app/(loginRoutes)/layout.tsx
  app/components/profileHeader.tsx
  app/components/settings.tsx
  app/dashboard/layout.tsx
  app/dashboard/user/page.tsx
  app/hooks/useSession.ts
  app/lib/auth.ts
  app/middleware.ts
  next.config.mjs
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): made profile image a regular image component
  app/components/profileHeader.tsx
  app/dashboard/user/page.tsx
  app/lib/auth.ts
  tsconfig.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: name fix
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: home - add profile images
  app/components/ui/parallax-scroll.tsx
  prisma/seed/restaurants.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: modified api call
  app/api/googleapi/route.ts
  app/components/markerMap.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: name scroll fix
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

style: home - adjusted text, star and image sizing
  app/components/ui/parallax-scroll.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: name fix (#51)
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: removed middleware
  app/(loginRoutes)/layout.tsx
  app/dashboard/layout.tsx
  app/dashboard/user/page.tsx
  app/hooks/getSession.ts
  app/middleware.ts
  next.config.mjs
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: name and stars same row
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: get followers endpoint
  app/api/db/follows/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/auth middleware (#54)
  .eslintrc.cjs
  app/(loginRoutes)/layout.tsx
  app/components/profileHeader.tsx
  app/components/settings.tsx
  app/dashboard/layout.tsx
  app/dashboard/user/page.tsx
  app/hooks/getSession.ts
  app/lib/auth.ts
  tsconfig.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

refactor: minor edit to user route
  app/api/db/user/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: follow friend endpoint
  app/api/db/follows/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: modified api call (#52)
  app/api/googleapi/route.ts
  app/components/markerMap.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/home (#53)
  app/components/ui/parallax-scroll.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Db/add friend (#56)
  app/api/db/follows/route.ts
  app/api/db/user/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: get user followers/following endpoint
  app/api/db/user/[id]/follows/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: add counts for profile
  app/api/db/user/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Refactor/friend end points (#57)
  app/api/db/user/[id]/follows/route.ts
  app/api/db/user/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: details card done
  app/components/detailsCard.tsx
  app/components/markerPopup.tsx
  app/components/ui/accordion.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

fix: fixed duplicate
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Style/marker popup (#58)
  app/components/detailsCard.tsx
  app/components/markerPopup.tsx
  app/components/ui/accordion.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

fix(prisma): correct db seed
  prisma/seed/users.ts
Due: none

feat(profile): add map
  app/dashboard/user/page.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): fix header
  app/components/profileHeader.tsx
  app/dashboard/user/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit
