Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

.lintstagedrc:

{
  "app/**/*.{js,jsx}": ["prettier-eslint --write ", "eslint"],
  "app/**/*.{ts,tsx}": [
    "prettier-eslint --write ",
    "eslint",
    "bash -c tsc --noEmit"
  ],
  "*.{json,md,mdx,yml}": ["prettier --write"]
}

Feat/auth (#37)
  app/(loginRoutes)/login/page.tsx
  app/components/loginForm.tsx
  app/components/ui/authButton.tsx
  app/components/ui/form.tsx
  app/components/ui/separatorText.tsx
  app/layout.tsx
  app/lib/action.ts
  package-lock.json
  package.json
  public/apple.svg
  public/facebook.svg
  public/google.svg
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Feat/tying frontend to backend (#38)
  app/components/markerMap.tsx
  app/components/markerPopup.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/home/page.tsx
  app/lib/data.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: fixed seed script
  .env.local.template
  .eslintrc.cjs
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed/seed.ts
Due: prettier --write

fix(prisma): fix dotenv issues
  package-lock.json
  package.json
  prisma/migrations/20240511161615_/migration.sql
  prisma/seed/seed.ts
Due: prettier --write

style(prisma): format schema.prisma
  prisma/schema.prisma
Due: none

Merge branch 'dev' into feat/prisma-psql
  app/api/db/follow/[id]/route.ts
  app/api/db/restaurant/[id]/route.ts
  app/api/db/restaurants/[id]/route.ts
  app/api/db/review/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/[id]/route.ts
  app/dashboard/db/page.tsx
  prisma/seed/restaurants.ts
  tailwind.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix(login): fix login error from zod
  app/components/loginForm.tsx
  app/lib/action.ts
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: add prisma to auth
  app/api/db/follow/[id]/route.ts
  app/api/db/restaurant/[id]/route.ts
  app/api/db/restaurants/[id]/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/[id]/route.ts
  app/lib/auth.ts
  app/lib/prisma.ts
  app/types/next-auth.d.ts
  package-lock.json
  package.json
  prisma/migrations/20240512191945_/migration.sql
  prisma/migrations/20240512200917_/migration.sql
  prisma/schema.prisma
  prisma/seed/users.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Feat/prisma psql (#26)
  .env.local.template
  .eslintrc.cjs
  app/api/db/follow/[id]/route.ts
  app/api/db/restaurant/[id]/route.ts
  app/api/db/restaurants/[id]/route.ts
  app/api/db/review/route.ts
  app/api/db/temp/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/[id]/route.ts
  app/components/loginForm.tsx
  app/dashboard/db/page.tsx
  app/lib/action.ts
  app/lib/auth.ts
  app/lib/prisma.ts
  app/types/next-auth.d.ts
  package-lock.json
  package.json
  prisma/migrations/20240509083614_/migration.sql
  prisma/migrations/20240511161615_/migration.sql
  prisma/migrations/20240512191945_/migration.sql
  prisma/migrations/20240512200917_/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed/restaurants.ts
  prisma/seed/seed.ts
  prisma/seed/users.ts
  tailwind.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

refactor: removed temp arr
  app/components/ui/command.tsx
  app/components/ui/dialog.tsx
  app/dashboard/search/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: api photos showing
  app/api/googleapi/route.ts
  app/components/addNewReviewButton.tsx
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add sheet from shadcn
  .env.local.template
  app/components/ui/sheet.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: api images resized to cards
  app/api/googleapi/route.ts
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: api images resized to cards (#40)
  app/api/googleapi/route.ts
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: added restaurant type file
  app/components/addNewReviewButton.tsx
  app/components/markerPopup.tsx
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
  app/lib/data.ts
  app/types/restaurant.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: added restaurant type file (#41)
  app/components/addNewReviewButton.tsx
  app/components/markerPopup.tsx
  app/components/searchResultCard.tsx
  app/dashboard/add/page.tsx
  app/lib/data.ts
  app/types/restaurant.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(auth): add useServerSession
  app/components/profileHeader.tsx
  app/components/settings.tsx
  app/dashboard/layout.tsx
  app/dashboard/user/page.tsx
  app/layout.tsx
  app/lib/auth.ts
  app/types/user.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/profile settings (#42)
  .env.local.template
  app/components/profileHeader.tsx
  app/components/settings.tsx
  app/components/ui/sheet.tsx
  app/dashboard/layout.tsx
  app/dashboard/user/page.tsx
  app/layout.tsx
  app/lib/auth.ts
  app/types/user.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: search linked to DB with routing on click
  app/api/db/users/route.ts
  app/dashboard/search/page.tsx
  app/lib/auth.ts
  prisma/seed/users.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add logout
  app/components/profileHeader.tsx
  app/components/settings.tsx
  app/dashboard/user/page.tsx
  app/lib/auth.ts
  app/types/next-auth.d.ts
  app/types/user.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/search (#43)
  app/api/db/users/route.ts
  app/components/ui/command.tsx
  app/components/ui/dialog.tsx
  app/dashboard/search/page.tsx
  package-lock.json
  package.json
  prisma/seed/users.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

refactor: get restaurants finds user ID
  app/api/db/restaurants/route.ts
  app/api/db/users/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/profile settings (#44)
  app/components/profileHeader.tsx
  app/components/settings.tsx
  app/dashboard/user/page.tsx
  app/lib/auth.ts
  app/types/next-auth.d.ts
  app/types/user.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: get restaurants finds user ID (#45)
  app/api/db/restaurants/route.ts
  app/api/db/users/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: post reviews to db
  app/api/db/review/route.ts
  app/components/markerPopup.tsx
  app/components/searchResultCard.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/types/user.d.ts
  prisma/seed/users.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix(landingpage): fix svg warnings
  app/(loginRoutes)/(landingPage)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: post data to database and fetch all restaurants from db
  app/components/markerMap.tsx
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

build: update eslint
  .eslintrc.cjs
Due: none

fix(login): fix login console warnings
  app/components/loginForm.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: link home to db WIP
  app/api/db/reviews/route.ts
  app/dashboard/home/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: functionality for reviews
  app/api/db/restaurants/route.ts
  app/components/markerMap.tsx
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: edit email address
  prisma/seed/users.ts
Due: none

feat: post reviews to db
  app/api/db/review/route.ts
  app/components/markerPopup.tsx
  app/components/searchResultCard.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  prisma/seed/users.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix(map): fix map marker error on draw close
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: add images to seed
  app/dashboard/home/page.tsx
  prisma/seed/restaurants.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit
