Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat(profile): pass stats from user object
  app/components/profileHeader.tsx
  app/dashboard/user/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add geocoder control
  app/components/geocoder-control.tsx
  app/components/markerMap.tsx
  app/dashboard/(map)/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: hide marker
  app/components/geocoder-control.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

style: geocoder settings WIP
  app/components/geocoder-control.tsx
  app/components/markerMap.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): add recent review components
  app/components/recentReviewCard.tsx
  app/components/recentReviews.tsx
  app/components/ui/scroll-area.tsx
  app/dashboard/user/page.tsx
  app/lib/userService.ts
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

style: search box style
  app/components/markerMap.tsx
  app/globals.css
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: review card added
  app/components/detailsCard.tsx
  app/components/markerPopup.tsx
  app/components/markerPopupRatingIcons.tsx
  app/components/reviewsCard.tsx
  app/components/singleReviewCard.tsx
  app/components/ui/carousel.tsx
  app/types/review.d.ts
  app/types/user.d.ts
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

fix: spacing issue
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Style/marker popup (#60)
  app/components/detailsCard.tsx
  app/components/markerPopup.tsx
  app/components/markerPopupRatingIcons.tsx
  app/components/reviewsCard.tsx
  app/components/singleReviewCard.tsx
  app/components/ui/carousel.tsx
  app/types/review.d.ts
  app/types/user.d.ts
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat(profile): add recent review images
  app/components/recentReviewCard.tsx
  app/components/recentReviews.tsx
  app/dashboard/user/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: remove default props
  app/components/geocoder-control.tsx
  app/components/markerMap.tsx
  app/globals.css
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: remove duplicate padding css
  app/globals.css
Due: none

feat: skeleton page
  app/components/customSkeletonComponent.tsx
  app/components/ui/skeleton.tsx
  app/dashboard/home/loading.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): complete styling
  app/components/recentReviewCard.tsx
  app/components/recentReviews.tsx
  app/dashboard/user/page.tsx
  app/globals.css
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: update seed restaurants
  prisma/seed/restaurant.ts
Due: none

Feat/user profile (#59)
  app/components/profileHeader.tsx
  app/components/recentReviewCard.tsx
  app/components/recentReviews.tsx
  app/components/ui/scroll-area.tsx
  app/dashboard/user/page.tsx
  app/globals.css
  app/lib/userService.ts
  package-lock.json
  package.json
  prisma/seed/users.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: skeleton page (#62)
  app/components/customSkeletonComponent.tsx
  app/components/ui/skeleton.tsx
  app/dashboard/home/loading.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix(map): fix focus on draw action
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profile): add profile view by id
  app/components/followButton.tsx
  app/dashboard/user/[id]/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: update database structure and seeding
  prisma/migrations/20240514212852_/migration.sql
  prisma/schema.prisma
  prisma/seed/seed.ts
Due: none

feat: add route to get resturant reviews by restaurant id
  app/api/restaurant/[id]/reviews/route.ts
  app/lib/restaurantService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add userService
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add reviewService
  app/lib/reviewService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: add ReviewWithUser type
  app/types/ReviewWithUser.d.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat!: refactor map component
  app/components/markerMap.tsx
  app/components/markerPopup.tsx
  app/components/reviewsCard.tsx
  app/components/singleReviewCard.tsx
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: add profile action button
  app/components/followButton.tsx
  app/components/profileActionButton.tsx
  app/dashboard/user/[id]/page.tsx
  app/dashboard/user/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: correct error occurring when average rating is 0
  app/components/markerPopup.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix(profile): correct fetch causing crash on user page
  app/dashboard/user/[id]/page.tsx
  app/dashboard/user/page.tsx
  app/lib/restaurantService.ts
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: remove dead code
  app/dashboard/db/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: split user search into client and server components
  app/components/UserSearch.tsx
  app/dashboard/search/page.tsx
  app/lib/userService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: update add review to use server side
  app/api/restaurant/[id]/review/route.ts
  app/api/restaurant/[id]/reviews/review/route.ts
  app/components/reviewForm.tsx
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: remove dead code
  app/api/db/follows/route.ts
  app/api/db/restaurant/[id]/route.ts
  app/api/db/restaurants/route.ts
  app/api/db/temp/route.ts
  app/api/db/user/[id]/follows/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/route.ts
  app/api/restaurant/[id]/review/route.ts
  app/dashboard/home/mockData.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore: remove more dead code
  app/api/db/images/route.ts
  app/api/db/reviews/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: complete refactor of home page
  app/components/ui/parallax-scroll.tsx
  app/dashboard/home/page.tsx
  app/lib/reviewService.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Path conditions:
  prettier-eslint --write: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  eslint: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  bash -c tsc --noEmit: any of: app/**/*.{ts,tsx}
  prettier --write: any of: *.{json,md,mdx,yml}
