Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

.lintstagedrc:

{
  "app/**/*.{js,jsx}": ["prettier-eslint --write ", "eslint"],
  "app/**/*.{ts,tsx}": [
    "prettier-eslint --write ",
    "eslint",
    "bash -c tsc --noEmit"
  ],
  "*.{json,md,mdx,yml}": ["prettier --write"]
}

feat: upgrade to auth.js v5
  .env.local.template
  app/(loginRoutes)/layout.tsx
  app/api/auth/[...nextauth]/route.ts
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/user/page.tsx
  app/layout.tsx
  auth/index.ts
  components/authProvider.tsx
  hooks/getSession.ts
  lib/actionService.ts
  lib/prisma.ts
  lib/restaurantService.ts
  lib/reviewService.ts
  lib/userService.ts
  middleware.ts
  package-lock.json
  package.json
  prisma/schema.prisma
  tsconfig.json
  vitest.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: fix login to dashboard
  app/dashboard/(map)/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/user/[id]/page.tsx
  app/layout.tsx
  auth/index.ts
  lib/prisma.ts
  lib/restaurantService.ts
  middleware.ts
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat(auth): add route protection using middleware
  middleware.ts
Due: none

feat(auth): add protection to all pages other than authRoutes
  auth/index.ts
  middleware.ts
  router/routes.ts
  tsconfig.json
Due: prettier --write

feat(auth): protect api routes
  middleware.ts
Due: none

feat(auth): add client side provider
  app/layout.tsx
  app/providers.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(profileHeader): improve loading state styling
  components/profileActionButton.tsx
Due: none

fix: correct error causing incorrect viewport sizing on IOS mobile
  app/dashboard/layout.tsx
  app/layout.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: add ReviewWithUser type
  lib/reviewService.ts
  types/ReviewWithUser.d.ts
  types/review.d.ts
Due: none

refactor: move parallax-scroll
  app/dashboard/home/page.tsx
  app/dashboard/layout.tsx
  components/navBar.tsx
  components/parallax-scroll.tsx
  components/ui/parallax-scroll.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: improve home loading skeleton
  app/dashboard/home/loading.tsx
  components/customSkeletonComponent.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: correct error occurring when session data is missing
  app/dashboard/user/page.tsx
  components/profileHeader.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor(auth): move auth/index.ts to auth.ts
  src/auth.ts
  tsconfig.json
Due: prettier --write

fix: correct hydration error
  src/app/layout.tsx
Due: none

fix: hydration warning caused by grammerly
  src/app/layout.tsx
Due: none

fix: allow local database through use of JWT with middleware
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app/api/auth/[...nextauth]/route.ts
  src/auth.config.ts
  src/auth.ts
  src/lib/prisma.ts
  src/middleware.ts
  src/router/routes.ts
Due: prettier --write

refactor: combine user profile pages into single page
  src/app/dashboard/user/[id]/page.tsx
  src/app/dashboard/user/page.tsx
  src/components/navBar.tsx
  src/components/settings.tsx
Due: none

feat(profileHeader): make revalidate cache and make server component
  src/app/api/getActionButton/route.ts
  src/app/dashboard/user/[id]/page.tsx
  src/components/profileActionButton.tsx
  src/components/profileHeader.tsx
  src/components/profileImage.tsx
  src/components/profileStats.tsx
  src/lib/actionService.ts
  src/lib/userService.ts
Due: none

fix(profileHeader): recent reviews
  src/app/api/stats/user/[id]/route.ts
  src/app/dashboard/user/[id]/page.tsx
  src/components/recentReviewCard.tsx
  src/components/recentReviews.tsx
  src/lib/actionService.ts
  src/lib/userService.ts
Due: none

perf(profileHeader): fetch user and restaurant simultaniously
  src/app/dashboard/user/[id]/page.tsx
Due: none

ci: add vercel toolbar
  .gitignore
  next.config.mjs
  package-lock.json
  package.json
  src/app/.well-known/vercel/flags/route.ts
  src/app/layout.tsx
  src/auth.config.ts
  src/router/routes.ts
Due: prettier --write

fix: update prisma generate script
  package.json
Due: prettier --write

fix: auth on prod
  src/auth.config.ts
Due: none

fix(auth): fix prisma schema for deployment
  prisma/schema.prisma
Due: none

chore(auth): update config to fix warning
  src/auth.ts
Due: none

ci(auth): add auth redirect proxy for preview builds
  src/auth.config.ts
Due: none

revert(auth): revert config change
  src/auth.config.ts
Due: none

chore: remove unused env.vault file
  .env.vault
Due: none

ci: remove unused script from package.json
  package.json
Due: prettier --write

docs: update env template
  .env.local.template
Due: none

feat: add speed insights
  package-lock.json
  package.json
  src/app/layout.tsx
Due: prettier --write

fix: fix incorrect page height when using safari mobile
  src/app/(loginRoutes)/(landingPage)/page.tsx
  src/app/(loginRoutes)/login/page.tsx
Due: none

Test/initial testing (#73)
  .circleci/config.yml
  app/__tests__/components/ui/authButton.test.tsx
  app/__tests__/hooks/getSession.test.ts
  app/__tests__/index.test.tsx
  app/__tests__/loginRoutes/landingPage.test.tsx
  app/__tests__/setup.ts
  app/components/ui/authButton.tsx
  package-lock.json
  package.json
  process.yml
  tsconfig.json
  vitest.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

build: regenerate package-lock.json
  package-lock.json
Due: prettier --write

fix: corrected testing setup
  package-lock.json
  package.json
  src/__tests__/hooks/getSession.test.ts
  src/__tests__/index.test.tsx
  tsconfig.json
  vitest.config.ts
Due: prettier --write

fix: regenerate package-lock.json
  package-lock.json
Due: prettier --write

fix(tests): add optional dependency for use with circleci
  package-lock.json
  package.json
Due: prettier --write

fix(tests): add optional dependency for use with circleci (#78)
  package-lock.json
  package.json
Due: prettier --write
