Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: prisma - get user info for profile page
  app/api/db/review/[id]/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - get followers/following for specific user
  app/api/db/follow/[id]/route.ts
  app/api/db/follow/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: api search rendered
  app/api/googleapi/route.ts
  app/components/addNewReviewButton.tsx
  app/components/nav-bar.tsx
  app/components/searchResultCard.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: updated dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: prisma - get restaurants reviewed by followed users
  app/api/db/restaurant/route.ts
  app/api/db/restaurants/[id]/route.ts
  app/api/db/review/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: prisma - get reviews for restaurant moved route
  app/api/db/restaurant/[id]/route.ts
  app/api/db/restaurant/route.ts
  app/api/db/temp/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - reviewer details added to restaurant details
  app/api/db/restaurants/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: defined photo type and updated POST request
  app/api/googleapi/route.ts
  app/components/addNewReviewButton.tsx
  app/components/nav-bar.tsx
  app/components/searchResultCard.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - add new restaurant if reviewed and not existing
  app/api/db/review/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(auth): add google sign in
  .eslintignore
  app/(loginRoutes)/login/page.tsx
  app/components/authButtons.tsx
  app/components/ui/authButton.tsx
  app/lib/auth.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(auth): redirect to dashboard on login
  app/components/authButtons.tsx
  app/lib/auth.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

chore(auth): remove console.log
  app/(loginRoutes)/login/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(auth): redirect from dashboard to login if not authenticated
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat(auth): use session in dashboard
  app/(loginRoutes)/(landingPage)/page.tsx
  app/components/authProvider.tsx
  app/dashboard/(map)/page.tsx
  app/layout.tsx
  app/lib/auth.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: move map to isolated server component
  app/components/markerMap.tsx
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

docs: update env template
  .env.local.template
Due: none

feat(auth): move redirect to dashboard layout to cover all routes
  app/dashboard/(map)/page.tsx
  app/dashboard/layout.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: db component - changed p to button tag
  app/dashboard/db/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor:
  app/api/db/follow/[id]/route.ts
  app/api/db/restaurant/[id]/route.ts
  app/api/db/restaurants/[id]/route.ts
  app/api/db/review/route.ts
  app/api/db/temp/route.ts
  app/api/db/user/[id]/route.ts
  app/api/db/users/[id]/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: shadcn drawer fix
  app/api/googleapi/route.ts
  app/components/addNewReviewButton.tsx
  app/components/searchResultCard.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: text search api request (#25)
  .env.local.template
  app/api/googleapi/route.ts
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Feat/marker dialogue page (#27)
  .eslintignore
  app/components/markerPopup.tsx
  app/components/restaurantDrawerButtons.tsx
  app/dashboard/(map)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: prisma - minor code clean up
  app/api/db/follow/route.ts
  app/api/db/restaurant/route.ts
  app/api/db/review/route.ts
  app/api/db/user/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

revert: .env.local.template merge conflict edits
  .env.local.template
Due: none

resolving merge conflict route.ts
  app/api/db/review/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

refactor: remove duplicates from merge
  app/api/db/follow/route.ts
  app/api/db/restaurant/route.ts
  app/api/db/user/route.ts
  app/api/route.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/auth (#29)
  .env.local.template
  .env.vault
  .eslintignore
  .gitignore
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/api/auth/[...nextauth]/route.ts
  app/components/authButtons.tsx
  app/components/authProvider.tsx
  app/components/markerMap.tsx
  app/components/ui/authButton.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/layout.tsx
  app/layout.tsx
  app/lib/auth.ts
  package-lock.json
  package.json
  tsconfig.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Path conditions:
  prettier-eslint --write: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  eslint: (any of: app/**/*.{js,jsx}) or (any of: app/**/*.{ts,tsx})
  bash -c tsc --noEmit: any of: app/**/*.{ts,tsx}
  prettier --write: any of: *.{json,md,mdx,yml}
