Repository london-codeworks-thesis/spot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

.lintstagedrc:

{
  "app/**/*.{js,jsx}": ["prettier-eslint --write ", "eslint"],
  "app/**/*.{ts,tsx}": [
    "prettier-eslint --write ",
    "eslint",
    "bash -c tsc --noEmit"
  ],
  "*.{json,md,mdx,yml}": ["prettier --write"]
}

Add pre-commit hooks and commit linting (#5)
  .commitlintrc.ts
  .czrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

feat: installed shadCN & fix: changed routing folders
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/forgottenPassword/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/(loginRoutes)/register/page.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/home/page.tsx
  app/dashboard/search/page.tsx
  app/dashboard/user/page.tsx
  app/globals.css
  app/lib/utils.ts
  app/page.tsx
  components.json
  package-lock.json
  package.json
  tailwind.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

CircleCI Commit
  .circleci/config.yml
Due: prettier --write

feat: added logo to landing page
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/home/page.tsx
  app/dashboard/search/page.tsx
  app/dashboard/user/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

fix: fix linting by converting eslint config to js
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
Due: prettier --write

Fixed eslint (#7)
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
Due: prettier --write

fix: conflicting linter rules
  .eslintrc.cjs
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/forgottenPassword/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/(loginRoutes)/register/page.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/home/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/search/page.tsx
  app/dashboard/user/page.tsx
  app/layout.tsx
  app/lib/utils.ts
  components.json
  tailwind.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

refactor: fix linter errors
  .eslintignore
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/forgottenPassword/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/__tests__/index.test.tsx
  app/components/ui/button.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/home/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/search/page.tsx
  app/dashboard/user/page.tsx
  app/layout.tsx
  app/lib/utils.ts
  public/Logo.svg
  public/Logo_Dark.svg
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: eslint rule global-require
  .eslintrc.cjs
Due: none

Feat/landing page design (#8)
  .eslintignore
  .eslintrc.cjs
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/forgottenPassword/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/(loginRoutes)/register/page.tsx
  app/__tests__/index.test.tsx
  app/components/ui/button.tsx
  app/dashboard/(map)/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/home/page.tsx
  app/dashboard/layout.tsx
  app/dashboard/search/page.tsx
  app/dashboard/user/page.tsx
  app/globals.css
  app/layout.tsx
  app/lib/utils.ts
  app/loginRoutes/(landingPage)/page.tsx
  app/loginRoutes/forgottenPassword/page.tsx
  app/loginRoutes/login/page.tsx
  app/loginRoutes/register/page.tsx
  app/page.tsx
  components.json
  package-lock.json
  package.json
  public/Logo.svg
  public/Logo_Dark.svg
  tailwind.config.ts
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: import ShadCn input and label
  app/(loginRoutes)/register/page.tsx
  app/components/ui/input.tsx
  app/components/ui/label.tsx
  app/components/ui/separator.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

style: register page styling change
  .eslintrc.cjs
  app/(loginRoutes)/register/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

ci: add circleci
  .circleci/config.yml
  package-lock.json
  process.yml
Due: prettier --write

ci: add circleci (#9)
  .circleci/config.yml
  package-lock.json
  process.yml
Due: prettier --write

style: landing page style done
  app/(loginRoutes)/(landingPage)/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

[CodeFactor] Apply fixes
  app/(loginRoutes)/login/page.tsx
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
  app/layout.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

Feat/landing page design (#10)
  .eslintrc.cjs
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/forgottenPassword/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/(loginRoutes)/register/page.tsx
  app/components/ui/input.tsx
  app/components/ui/label.tsx
  app/components/ui/separator.tsx
  app/dashboard/add/page.tsx
  app/dashboard/layout.tsx
  app/layout.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: added inputs and labels to login page
  app/(loginRoutes)/login/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: styled register page
  app/(loginRoutes)/(landingPage)/page.tsx
  app/(loginRoutes)/forgottenPassword/page.tsx
  app/(loginRoutes)/login/page.tsx
  app/(loginRoutes)/register/page.tsx
  app/globals.css
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: finished styling for login-page
  app/(loginRoutes)/login/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Style/register page (#11)
  app/(loginRoutes)/register/page.tsx
  app/globals.css
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Style/login page (#12)
  app/(loginRoutes)/login/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

test: index test fix
  app/__tests__/index.test.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

test: index test fix (#13)
  app/__tests__/index.test.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: main navbar icons and buttons added
  app/components/nav-bar.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

feat: added more functionality to navbar & installed drawer from shadcn
  app/components/nav-bar.tsx
  app/components/ui/drawer.tsx
  app/dashboard/layout.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

Feat/nav bar (#14)
  app/components/nav-bar.tsx
  app/components/ui/drawer.tsx
  app/dashboard/layout.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: installed antd library for rating & styled add page
  app/components/ui/card.tsx
  app/dashboard/add/page.tsx
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit, prettier --write

feat: styling for add new review page done
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit

fix: fixed hover color on submit button
  app/dashboard/add/page.tsx
Due: prettier-eslint --write, eslint, bash -c tsc --noEmit
